$mainbgcl:#00695c
$mainmobbgcl: #5e35b1
$whitecl:#fff
$bgsectgr:#eceff1


body
	background-color: #bdbdbd
.nav-wrapper
	background: $mainbgcl
	position : fixed
	text-transform: uppercase
	
	
.side-nav li>a
	font-size: 1.1em
	line-height: 2em
	color: #fff
	font-family: bold
#mobile-demo
	li:first-child
		margin-top: 30px
	background: $mainbgcl
	
#sidenav-overlay
	background-color: rgba(0,0,0,0)

.bgsectgr
	background: $bgsectgr
	padding: 20px 0



#download-button
	background: $mainbgcl
h1
	color: $mainbgcl
	
.icon-block
	img
		border-radius: 8px
		margin: 0 auto


.page-footer
	background: $mainbgcl
h2
	letter-spacing: 5px
	text-transform: uppercase
	font-family: bold
	font-weight: black
	
.hrcenter
	position: relative
	top: -15px
	height: 0
	&::before
		content: "" 
		padding-right: 250px
		border-top: 1px solid $mainbgcl
		line-height: 0em


.navbar-fixed 
	top: -6px
	.nav-wrapper
		background: $mainbgcl+5



.parallax-container
	position: relative
	.opas
		position: absolute
		top: 0
		width: 100%
		height: 100%
		background: #009688
		opacity: 0.2


.parallaxText
	padding-top: 20%
	h1, h5,
		color: #ffffff
		position: relative
		font-family: bold

.row
	margin: 10px 0

.brand-logo
	font-family: bold

